Source: libidn
Section: libs
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Libidn Team <help-libidn@gnu.org>
XSBC-Pexip-Original-Uploaders: Simon Josefsson <simon@josefsson.org>,
           Ondřej Surý <ondrej@debian.org>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13), help2man, texinfo
Build-Depends-Indep: default-jdk
Homepage: https://www.gnu.org/software/libidn/
Vcs-Browser: https://salsa.debian.org/debian/libidn
Vcs-Git: https://salsa.debian.org/debian/libidn.git
Rules-Requires-Root: no
XS-Pexip-Upstream: http://deb.debian.org/debian/ bookworm

Package: idn
Section: misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Command line and Emacs interface to GNU Libidn
 GNU Libidn is a fully documented implementation of the Stringprep,
 Punycode and IDNA specifications.  Libidn's purpose is to encode and
 decode internationalized domain names.  The Nameprep, XMPP, SASLprep,
 and iSCSI profiles are supported.
 .
 This package contains the idn command-line tool and its Emacs lisp
 interface.

Package: libidn11-dev
Section: libdevel
Architecture: any
Depends: libidn11 (= ${binary:Version}), pkg-config, ${misc:Depends}
Conflicts: libidn9-dev
Multi-Arch: same
Description: Development files for GNU Libidn, an IDN library
 GNU Libidn is a fully documented implementation of the Stringprep,
 Punycode and IDNA specifications.  Libidn's purpose is to encode and
 decode internationalized domain names.  The Nameprep, XMPP, SASLprep,
 and iSCSI profiles are supported.
 .
 This package contains the header files, static library, pkg-config
 information, API man pages, and the Libidn manual.

Package: libidn11
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libidn9-dev
Replaces: libidn11-dev
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: GNU Libidn library, implementation of IETF IDN specifications
 GNU Libidn is a fully documented implementation of the Stringprep,
 Punycode and IDNA specifications.  Libidn's purpose is to encode and
 decode internationalized domain names.  The Nameprep, XMPP, SASLprep,
 and iSCSI profiles are supported.
 .
 This package contains the shared library.

Package: libidn11-java
Section: java
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Java port of the GNU Libidn library, an IDN implementation
 GNU Libidn is an implementation of the Stringprep, Punycode and IDNA
 specifications defined by the IETF Internationalized Domain Names
 (IDN) working group, used for internationalized domain names.
 Currently the Nameprep, Kerberos 5 and XMPP Stringprep profiles are
 supported.
 .
 This package contains the native Java port of the library.
